.d-item {
    display: flex;
    text-align: center;
    color: var(--surface-0);
    justify-content: space-between;

    .pi {
        font-size: 4em;
        margin-bottom: 15px;
    }
    .name {
        font-size: 1.4em;
    }
    .numbers {
        margin-top: 50px;
        font-size: 2.5em;
    }
}

.d-orders {
    background-color: #4158d0;
    background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
}
.d-products {
    background-color: #00dbde;
    background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
}
.d-users {
    background-color: #fbab7e;
    background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}
.d-totalsales {
    background-color: #85ffbd;
    background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}
